
nav.navbar.bootsnav.logo-move .navbar-brand {
	display: block;
}

nav.navbar.bootsnav.logo-move.no-background .navbar-brand {
	display: none;
}

nav.navbar.bootsnav.logo-move.no-background .nav-spacing,
nav.navbar.bootsnav.logo-move .navbar-header.nav-spacing{
	display: block;
}

nav.navbar.bootsnav.logo-move .nav-spacing,
nav.navbar.bootsnav.logo-move.no-background .navbar-header.nav-spacing{
	display: none;
}

nav.navbar.navbar-default.logo-move .navbar-collapse {
	margin-left: -15px;
}

nav.navbar.navbar-default.logo-move .navbar-collapse {
	margin-left: -15px;
}

@media (min-width: 1024px) {
    nav.navbar.bootsnav.small-pad.logo-move ul.nav>li>a {
		padding: 30px 15px !important;
	}
	nav.bootsnav.small-pad.logo-move .attr-nav>ul>li {
		padding: 20px 0;
	}
    nav.navbar.bootsnav.logo-move .navbar-brand {
		display: inline-block;
	}
    nav.bootsnav.navbar-default.small-pad.logo-move .top-search {
		top: 70px;
	}
    nav.navbar.bootsnav.logo-move .navbar-brand {
		display: inline-block;
	}
    
}
@media (max-width: 767px) {
    nav.navbar.bootsnav.logo-move.no-background .nav-spacing{
        display: none !important;
    }
    
    nav.navbar.bootsnav.logo-move .navbar-header.nav-spacing{
        display: block !important;
    }
    nav.navbar.bootsnav.logo-move.no-background .navbar-brand{
        display: inline-block !important;
    }
    .navbar .col-lg-1:last-child {
		position: absolute;
		top: 15px;
		right: 30px;
		width: auto;
	}
	.nav-box .col-lg-1:last-child {
		position: absolute;
		right: 0;
		top: 0;
	}
}
.language-selector {
	position: relative;
	display: inline-block;
	margin-top:20px;
	}
	
	.earth-icon {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	color:white;
	}
	
	.earth-icon i {
	margin-left:0px;
	}
	
	.language-list {
	position: absolute;
	top: 100%;
	left: -80%;
	display: none;
	background-color: #fff;
	border: 1px solid white;
	padding: 5px;
	list-style: none;
	margin: 0;
	z-index: 1;
	}
	
	.language-list li {
	margin: 0;
	}
	
	.language-list li a {
	display: block;
	padding: 5px;
	color: #333;
	text-decoration: none;
	}
	
	.language-list li a:hover {
	background-color: #ccc;
	color: #fff;
	}
	
	.language-selector:hover .language-list {
	display: block;
	}